<div class="row">
	<div class="col-lg-4" *ngFor="let invoice of invoices; let i = index">
		<div class="card card-margin">
			<div class="card-header no-border">
				<h5 class="card-title">Invoice numero : {{ i+1 }}</h5>
			</div>
			<div class="card-body pt-0">
				<div class="widget-49">
					<div class="widget-49-title-wrapper">
						<div class="widget-49-date-primary">
							{{ invoice.dateBill }}
						</div>
						<div class="widget-49-meeting-info">
							<span class="widget-49-pro-title">Id invoice : </span>
							<span class="widget-49-meeting-time">{{ invoice.idInvoice }}</span>
						</div>
					</div>
					
					<div class="widget-49-meeting-action">
						<button class="btn btn-sm btn-flash-border-danger" (click)="showEdit(invoice)">update</button>
						<button>view</button>
						<a href="#" class="btn btn-sm btn-flash-border-primary">View All</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<ng-container *ngIf="show">
			<app-edit-invoice [invoiceToEdit]="invoice"></app-edit-invoice>
		</ng-container>
		
		
	</div>
</div>
