<form [formGroup]="myFormEdit">
    <div class="form-group">
        <label>Id invoice</label>
        <input type="text" class="form-control" formControlName="idInvoice">
    </div> 
    <div class="form-group">
        <label>Discount account</label>
        <input type="text" class="form-control" formControlName="discountAccount">
    </div> 
    <div class="form-group">
        <label>Bill</label>
        <input type="text" class="form-control" formControlName="bill">
    </div> 
    <div class="form-group">
        <label>Date bill</label>
        <input type="text" class="form-control" formControlName="dateBill">
    </div> 
    <div class="form-group">
        <label>Status</label>
        <input type="text" class="form-control" formControlName="status">
    </div> 
    
    
           
</form>
